{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block mainTitle %}Contact{% endblock %}
{% block mainContent %}
<section id="contact" class="four">
    <div class="container">
    <div>
        Please feel free to inquire about any problems you may have while using <strong>All EC</strong>.<br>
        We are always ready to solve problems :)
    </div>

        <div class="card mt-3">
            <div class="card-body">
                <label class="form-label" for="sequence-text">Please enter your information.</label>
                <div class="input-group mr-1">
                    <div>
                        <input type="text" class="form-control" name="name_sender" placeholder="Name" value="" />
                    </div>     
                    <div>
                        <input type="text" class="form-control" name="email_sender" placeholder="Email" value="" />
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <label class="form-label" for="sequence-text">Please enter your opinion.</label>
                    <textarea id="sequence-text" class="form-control" rows="6" maxlength="4000"></textarea>
                    <button type="button" class="btn btn-primary mt-2">Send Mail</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}